address, article, aside, blockquote, canvas, dd, div, dl, fieldset, figcaption, figure, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, li, main, nav, noscript, ol, output, p, pre, section, table, tfoot, ul, video {
    direction: rtl;
    text-align: right;
}

h1 {
    text-align: center !important;
}

.right {
    float: right !important;
}

.left {
    float: left !important;
}

.center {
    border-top: 0.5px dashed !important;
    text-align: center !important;
}

.sparse {
    margin: 1%;
}

article {
    margin-top: 4%;
    margin-bottom: 10%;
}

.narrow {
  width: 50%;
  text-align: center;
  background-color: aqua;
}

p {
  margin: 0.8em;
  margin-bottom: 0.2px !important;
  margin-top: 0.2px !important;
}

li, ul {
  margin-block-start: 0px;
  margin: 0px;
}

h1, h2 {
  text-align: center;
}

h3, h4 {
  margin: 0.7em !important;
}

h5 {
  margin: 0.3em !important;
}

h3, h4 {
  padding-right: 10px !important;
}

h2, h3 {
  margin: 20px !important;
}

.social-link {
    margin: 4% !important;
    text-decoration: none !important;
    color: white !important;
}