address, article, aside, blockquote, canvas, dd, div, dl, fieldset, figcaption, figure, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, li, main, nav, noscript, ol, output, p, pre, section, table, tfoot, ul, video {
    direction: rtl;
    text-align: right;
}

h1 {
    text-align: center !important;
}

.right {
    float: right !important;
}

.left {
    float: left !important;
}

.center {
    border-top: 0.5px dashed !important;
    text-align: center !important;
}

.sparse {
    margin: 1%;
}

article {
    margin-top: 4%;
    margin-bottom: 10%;
}
.social-link {
    margin: 8% !important;
    text-decoration: none !important;
    color: white !important;