<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/style.css">
  <title>{{title}}</title>
</head>
<body>
  <nav>
    <a class="button" href="/"><i class="fa-solid fa-house"></i> Home</a>
    <a class="button" href="https://akivalue.omg.lol"><i class="fa-solid fa-person"></i> About Me</a>
    <a class="button right" href="mailto:akivalue@omg.lol"><i class="fa-regular fa-envelope"></i> Email Me</a>
  </nav>
  <div>
    <article>
      <h1>{{title}}</h1>
      {{content}}
    </article>
  </div>
  <footer class="bottom">
    <p>
      Built with <a href="https://11ty.dev">11ty</a>
      <br/>
      source code at 
      <a href="https://github.com/abloch/akivalue">
      Github
      <i class="fa-brands fa-github"></i>
    </p>
  </footer>
</body>
</html>